.navbar
{
    display: flex;
    width: 98vw;
    background-color: #23283e;
    padding: 40px 15%;
    justify-content: space-between;
}

.navbar > a
{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: #90a0d9;
    align-self: center;
    font-family: "poppins-bd";
}

.navbar ul
{
    display: flex;
    gap: 24px;
    list-style: none;
}

.navbar ul li a
{
    font-size: 1.125rem;
    color: #cdcdff;
    text-decoration: none;
}