.footerContainer
{
    margin-top: 62px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.footerContainer a
{
    display: block;
    margin-bottom: 62px;
}

.footerContainer p
{
    font-weight: 700;
}