.navbar
{
    display: flex;
    width: 98vw;
    padding: 40px 15%;
    justify-content: space-between;

    .logo
    {
        text-decoration: none;
        font-size: 1.5rem;
        align-self: center;
        font-family: "poppins-bd";
    }

    .nav_list_wrapper
    {
        display: flex;
        align-items: center;
        gap: 24px;
        svg
        {
            display: flex;
            cursor: pointer;
        }
    
        ul
        {
            display: flex;
            gap: 24px;
            list-style: none;
            
            li a
            {
                font-size: 1.125rem;
                text-decoration: none;
                font-family: "poppins-rg", sans-serif;
                position: relative;
    
                &::after
                {
                    content: "";
                    position: absolute;
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: -8px;
                    transition: all 0.2s linear;
                }
    
                &:hover::after
                {
                    width: 100%;
                }
            }
        }
    }
}


